{% extends "base.html" %}
{% load static %}
{% block title %}
  Editar Producto
{% endblock title %}

{% block content %}
<h1>Editar Producto {{producto.nombre}}</h1>
<img src="/static/img/200.gif" class="imgEditar">
<div class="contenidoEditar"> 
    <form class="formEditar" action="{% url 'editar' producto.id %}" method="post">
    {% csrf_token %}
      <table>{{formulario.as_p}}</table>
      <hr>
      <button type="submit" class="boton aceptar">Aceptar</button>
      <a href="{% url 'listado' %}"><button class="boton cancelar">Cancelar</button></a>      
  </form>
</div>
{% endblock content %}