{% extends "base.html" %}
{% load static %}

{% block title %}
  Listado De Articulos
{% endblock title %}

{% block content %}
  <div class="contListado">
    {% if user.is_authenticated %}
    <p>Bienvenido {{user.username}}</p>
    <a href="{% url 'logout'%}"><button class="boton logout">Logout</button></a>
    {% else %}
    <a href="{% url 'login'%}"><button class="boton login">Login</button></a>
    {% endif %}

    <h1>Listado De Productos</h1>
  <table class="table table-bordered">
    <thead class="table-primary">
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th> 
        <th>Origen</th>
        <th>Acciones</th>     
    </thead>
    <tbody>
      {% for producto in productos %}
        <tr>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.stock}}</td>
            <td>{{producto.categoria}}</td>
            <td>{{producto.origen}}</td>
            <td>
              {% if user.is_authenticated %}
                <a href="{% url 'editar' producto.id %}"><button type="button" class="boton editar">Editar</button></a>
                <a href="{% url 'eliminar' producto.id %}"><button type="button" class="boton eliminar">Eliminar</button></a>
              {% else %}
                <span>sin acciones</span>
              {% endif %}
            </td>           
        </tr>
      {% endfor %}
    </tbody>
    
  </table>
  {% if user.is_authenticated %}
    <button data-bs-toggle="modal" data-bs-target="#CrearProducto" class="boton crear">crear producto</button>
  {% endif %}
  <div class="modal fade" id="CrearProducto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div>
          <h1 class="modal-title fs-5" id="staticBackdropLabel">CREAR NUEVO PRODUCTO</h1>
        </div>

        <div class="modal-body">
          <form class="form-control" action="{% url 'crear' %}" method="post">
            {% csrf_token %}
            <table>{{formulario.as_p}}</table>
            <hr>
            <div>
              <button type="submit" class="boton guardar">Guardar</button>
              <button type="reset" class="boton cancelar" data-bs-dismiss="modal">cancelar</button>
            </div>
        </form>
      </div>
    </div>
  </div>

</div>   
{% endblock content %}